.logo{
    /* width: 100%; */
    height: 70px;
}
.headerfontsize{
    font-size: 18px;
    color: var(--green);
    text-align: center;
    text-decoration: none;
}
.hedershadow{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    background-color: #fff;
    z-index: 999 !important;
}
.collaspebtn{
    text-align: right !important;
}